if SHIELD_OSMAN_AZO_RIGHT

config ZMK_KEYBOARD_NAME
    default "osman_azo"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
     default y

config IQS5XX
    bool
    default y

# enable pointing
config ZMK_POINTING
    default y

config INPUT
    default y
endif

if SHIELD_OSMAN_AZO_LEFT

config ZMK_KEYBOARD_NAME
    default "osman_azo_L"

endif

if SHIELD_OSMAN_AZO_RIGHT || SHIELD_OSMAN_AZO_LEFT

config ZMK_SPLIT
     default y

endif
